


 

.square{
    
    height: 195px;
    width: 195px;
    background-color: red;
    position: absolute;
    right: 200px;
 left: 500px;
 bottom: 500px;
 border-radius: 10px;
 box-shadow: 5px 5px 100px 2px rgba(0,0,0,.8);
 transition: 0.30s;
}
.square:hover
{
    background-color: rgb(255, 94, 0);
    transition: 0.30s;
}


.square1{
    
    height: 195px;
    width: 195px;
    background-color: yellowgreen;
    position: absolute;
    right: 400px;
    left: 700px;
    bottom: 500px;
    border: 900px;
    border-color: black;
   border-width: 10px;
   border-radius: 10px;
   box-shadow: 5px 5px 100px 2px rgba(0,0,0,.8);
   transition: 0.30s;
}
.square1:hover
{
    background-color: rgb(205, 202, 50);
    transition: 0.30s;
}


.square2{
    
    height: 195px;
    width: 195px;
    background-color: rgb(174, 43, 226);
    position: absolute;
    right: 400px;
    left: 700px;
    bottom: 300px;
    border: 900px;
    border-radius: 10px;
    box-shadow: 5px 5px 100px 2px rgba(0,0,0,.8);
    transition: 0.30s;
}
.square2:hover
{
    background-color: rgb(220, 43, 226);
    transition: 0.30s;
}
.square3{
    
    height: 195px;
    width: 195px;
    background-color: hotpink;
    position: absolute;
    right: 200px;
    left: 500px;
    bottom: 300px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
    transition: 0.30s;

}
.square3:hover
{
    background-color: rgb(255, 105, 210);
    transition: 0.30s;
}
body{
    display: block;
  
    margin: 50px;
    border: 50px;
    padding: 50px;
    padding-left: 0px;
    padding-right: 130px;
    background-color: black;
}
.simon{
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;
    text-align: center;
margin-top: -15px;


    
}
.button{
    position:absolute;
    left: 650px;
    bottom: 200px; 
    height:40px ;
    width: 90px;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-color: rgb(114, 3, 25);
    background-color: white;
color: black;
}
